<p-button label="Go back" [link]="true" routerLink="" class="product-goBack-btn"/>

@if(productDetail$ | async; as details) {
    @if(!details){
        <div>
            Oops!, no data
        </div>
    }@else{
        <div class="product-detils-container">
            <div class="product-details-info">
                <p-galleria [value]="details.images" 
                    [indicatorsPosition]="'bottom'" 
                    [showIndicators]="true" 
                    [showThumbnails]="false"
                    [showItemNavigators]="true"
                    [showIndicatorsOnItem]="true" 
                    [autoPlay]="true" 
                    [circular]="true"
                    [containerStyle]="{ 'max-width': '640px' }" >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
                <div class="product-details-description">
                    <div class="product-category">{{ details.category }}</div>
                    <div class="product-title">{{ details.title }}</div>
                    <div class="product-price">{{ details.price | currency }}</div>
                    <div class="product-stock">
                        <i class="pi pi-info-circle"></i>
                        <span>Stock {{ details.stock }}</span>
                    </div>
                    <div>
                        <p-button label="Add to cart" (click)="addToCart()" [rounded]="true" class="product-addCart"/>
                    </div>
                    <div class="product-description-fit">
                        <p-panel header="Description and fit" [toggleable]="true">
                            <p class="product-fit">
                                {{ details.description }}
                            </p>
                        </p-panel>
                    </div>
                    <div>
                        <p-panel header="Shipping" [toggleable]="true">
                            <div class="product-shipping">
                                <div>
                                    <i class="pi pi-percentage"></i>
                                    <div>
                                        <span>Discount</span> 
                                        <span>{{ details.discountPercentage }}%</span>
                                    </div>
                                </div>
                                <div *ngIf="details.brand">
                                    <i class="pi pi-sparkles"></i>
                                    <div>
                                        <span>Brand</span>
                                        <span>{{ details.brand }}</span>
                                    </div>
                                </div>
                                <div>
                                    <i class="pi pi-calendar"></i>
                                    <div>
                                        <span>Warranty</span>
                                        <span>{{ details.warrantyInformation }}</span>
                                    </div>
                                </div>
                                <div>
                                    <i class="pi pi-box"></i>
                                    <div>
                                        <span>Info</span>
                                        <span>{{ details.shippingInformation }}</span>                                        
                                    </div>
                                </div>
                                <div>
                                    <i class="pi pi-inbox"></i>
                                    <div>
                                        <span>Availability</span>
                                        <span>{{ details.availabilityStatus }}</span>                                        
                                    </div>
                                </div>
                                <div>
                                    <i class="pi pi-history"></i>
                                    <div>
                                        <span>Return Policy</span>
                                        <span>{{ details.returnPolicy }}</span>                                        
                                    </div>
                                </div>
                            </div>
                        </p-panel>                        
                    </div>
                </div>
            </div>
            <div class="product-details-reviews">
                Score: {{details.rating}}
                Total: {{ details.reviews.length || 0}}
                <p-rating [ngModel]="details.rating" [readonly]="true" />
                @for(review of details.reviews; track review.reviewerEmail){
                    <div>
                        <p>{{ review.reviewerName }}</p>
                        <p-rating [ngModel]="review.rating" [readonly]="true" />
                        <p>{{ review.comment }}</p>
                    </div>
                }
            </div>
        </div>
    }
    <!-- {{ productDetail$ | async | json}} -->
}@else{
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
}
