:host
    padding: 25px

.product-detils-container
    display: flex
    flex-direction: column
    row-gap: 2rem

    .product-details-info
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 1rem

    .product-details-description
        display: flex
        flex-direction: column
        row-gap: 5px

    .product-details-reviews
        & > div
            display: grid
            grid-template-columns: 1fr 1fr
            column-gap: 1rem

.product-details-skeleton
    display: flex
    flex-direction: row;
    column-gap: 2rem;
    div
        width: 100%