<p-button label="Go back" [link]="true" routerLink="" class="product-goBack-btn"/>
    
@if(productDetail$ | async; as details) {
    @if(!details){
        <div>
            Oops!, no data
        </div>
    }@else{
        <div class="product-detils-container">
            <div class="product-details-info">
                <p-galleria [value]="details.images" 
                    [indicatorsPosition]="'bottom'" 
                    [showIndicators]="true" 
                    [showThumbnails]="false"
                    [showItemNavigators]="true"
                    [showIndicatorsOnItem]="true" 
                    [autoPlay]="true" 
                    [circular]="true"
                    [containerStyle]="{ 'max-width': '640px' }" >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
                <div class="product-details-description">
                    <product-details-info [details]="details"></product-details-info>
                </div>
            </div>
            <div class="product-details-reviews">
                <p>Rating and reviews</p>
                <div>
                    <product-details-review [details]="details"></product-details-review>
                    <product-details-comments [details]="details"></product-details-comments>             
                </div>
            </div>
        </div>
    }
}@else{
    <div class="product-details-skeleton">
        <p-skeleton width="25rem" height="22rem" />
        <div>
            <p-skeleton />
            <p-skeleton width="10rem" />
            <p-skeleton width="5rem"/>
            <p-skeleton height="2rem" />
        </div>
    </div>
}
