<a routerLink="">Go back</a>
@if(productDetail$ | async; as details) {
    @if(!details){
        <div>
            Oops!, no data
        </div>
    }@else{
        <div class="product-detils-container">
            <div class="product-details-info">
                <p-galleria [value]="details.images" 
                    [indicatorsPosition]="'bottom'" 
                    [showIndicators]="true" 
                    [showThumbnails]="false"
                    [showItemNavigators]="true"
                    [showIndicatorsOnItem]="true" 
                    [containerStyle]="{ 'max-width': '640px' }" >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="width: 100%; display: block;" />
                    </ng-template>
                </p-galleria>
                <div class="product-details-description">
                    <div>{{ details.category }}</div>
                    <div>{{ details.title }}</div>
                    <div>{{ details.price | currency }}</div>
                    <div>Info Stock {{ details.stock }}</div>
                    <div><button>Add to cart</button></div>
                    <div>
                        <p>Description and fit</p>
                        <p>{{ details.description }}</p>
                    </div>
                    <div>
                        <p>Shipping</p>
                        <p>Discount: {{ details.discountPercentage }}%</p>
                        <p>Brand: {{ details.brand }}</p>
                        <p>Warranty: {{ details.warrantyInformation }}</p>
                        <p>Info: {{ details.shippingInformation }}</p>
                        <p>Availability: {{ details.availabilityStatus }}</p>
                        <p>Return Policy: {{ details.returnPolicy }}</p>
                    </div>
                </div>
            </div>
            <div class="product-details-reviews">
                Score: {{details.rating}}
                Total: {{ details.reviews.length || 0}}
                <p-rating [ngModel]="details.rating" [readonly]="true" />
                @for(review of details.reviews; track review.reviewerEmail){
                    <div>
                        <p>{{ review.reviewerName }}</p>
                        <p-rating [ngModel]="review.rating" [readonly]="true" />
                        <p>{{ review.comment }}</p>
                    </div>
                }
            </div>
        </div>
    }
    <!-- {{ productDetail$ | async | json}} -->
}@else{
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
}
