<div>
    <i class="bi bi-0-circle"></i>    
    <p class="col-xs-2">Hello world!</p>
</div>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" />

<p-button label="Check"></p-button>

<p-drawer [(visible)]="visible" header="Drawer">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    </p>
</p-drawer>
<p-button (click)="visible = true" icon="pi pi-arrow-right" />
<p-toggleswitch [(ngModel)]="checked" />
<p-datepicker [(ngModel)]="date2" />

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">&#64;</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search" />
</p-iconfield>
