:host
    position: sticky
    width: 100%
    z-index: 1
    top: 0

.menu-section
    display: flex
    justify-content: space-between
    align-items: center
    background-color: rgb(0, 53, 145)

.counter-item
    color: white
    padding: 5px

ul
    list-style: none

::ng-deep
    .p-button .p-badge
        margin-top: -20px
        margin-left: -5px