
<div class="card-container">
    @for(product of products$ | async; track product.id){
        <p-card>
            <ng-template pTemplate="header">
                <img alt="Card" class="card-image" [src]="product.thumbnail" [routerLink]="['product', product.id]"/>
            </ng-template>
            <ng-template pTemplate="title"> {{product.title}} </ng-template>
            <ng-template pTemplate="subtitle"> {{product.category}} </ng-template>
            <p>
                {{product.description}}
            </p>
            <ng-template pTemplate="footer">
                <div class="">
                    <p-button label="Add to cart" (click)="addToCart()"/>
                </div>
            </ng-template>
        </p-card>
    }
</div>
<div>
    <p-paginator 
    (onPageChange)="onPageChange($event)" 
    [first]="first" 
    [rows]="rows" 
    [totalRecords]="1000" 
    [rowsPerPageOptions]="rowsPerPage" />
</div>
