.card-container
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    row-gap: 1rem
    column-gap: 1rem
    padding: 1rem

.card-image
    width: 200px
    height: auto
    margin: auto
    display: block